<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ .Site.Title }}</title>
		<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
		<link href="{{ .Site.BaseURL }}/css/emacsy.css" rel="stylesheet">
		{{ with .OutputFormats.Get "Atom" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}
		{{ template "_internal/opengraph.html" . }}
		{{ template "_internal/twitter_cards.html" . }}
		{{ template "_internal/google_analytics_async.html" . }}
	</head>
	<body>
		<h1>{{ .Site.Title }}<span id="blinkCursor">&#x25AE;</span></h1>
		<hr id="titleHolizon">
		<div class="paginationWrap">{{ template "_internal/pagination.html" . }}</div>
		<div id="articleListWrap">
			{{ range .Paginator.Pages }}
			<div class="articleListItem"><article>
				<header><h2><a href="{{ .RelPermalink }}">{{ .Title }}</a><small>({{ .Date.Format "2006-01-02" }})</small></h2></header>
				<p>{{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}</p>
			</article></div>
			{{ end }}
		</div>
		<div class="paginationWrap">{{ template "_internal/pagination.html" . }}</div>
		<hr id="footerHolizon">
		<footer>
			<div id="lastupdate">Lastupdate: {{ .Site.LastChange }}</div>
			<div id="copyright"><small>{{ .Site.Copyright }}</small></div>
		</footer>
	</body>
</html>
